*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.open-sence{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;

}
header{
    width: 71%;
    max-width:1600px;
    margin: 0px auto;
}
.logo{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    margin: 0px 120px;
    align-items: center;

}
.img{
    font-size: 20px;

}
.text{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.btn{
    border: none;
    background-color: green;
    padding: 12px 16px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;

}
