*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.open-sence{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;

}
header{
    width: 71%;
    max-width:1600px;
    margin: 0px auto;
}
.logo{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    margin: 0px 120px;
    align-items: center;

}
.img{
    font-size: 20px;

}
.text{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.btn{
    background-color: #469165;
    padding-top: 30px;
    width: 200px;
    padding: 20px;
    color:#FFFFFF ;
    text-align: center;

}
.btn:hover{
    background-color: antiquewhite;
}
.image{
    background-image: url(./assets/hero-bg.png);
    width: 75%;
    max-width:1600px;
    height: 500px;
}
.cantant{
    padding-top:100px;
    margin:0 180px;
    text-align: center;
    font-size: 15px;

}
.cantant button{
    background-color: rgb(255, 244, 244);
    color: rgb(108, 189, 108);
    border-radius: 5px;

}
.cantant h1{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-bottom:10px;
    padding-top: 10px;

}
.cantant .rimon{
    color: green;


}
.cantant p{
    padding:5px;
    color: beige;

}
.cantant .icon {
    font-size:30px;
    display: flex;
    justify-content: space-around;
    padding: 20px 16px;
    padding-bottom:100px;
    font-weight: bold;

}


.icon .btn-one{
    background-color:green;
    color: white;
}
.icon .btn-one:hover{
    background-color: antiquewhite;

}

.icon .btn-two{
    background-color: #F7F6F2;
    color: black;
}
.icon .btn-two:hover{
    background-color:rgb(68, 35, 35);
}






.knowladge{
    display: flex;
    justify-content: space-between;
    padding: 120px 0 120px;
    margin: 0 auto;
    gap: 60px;
}
.knowladge img{
    max-width: 600px;
    height: 600px;

}
.massege{
    padding: 102px 0;
}
.color {
    font-size: 18px;
    color: #30B830;
}
.colors{
    font-size: 16px;
    color: #627382;

}
.massege h2{
    font-size: 48px;
    font-weight: bold;
}
.line{
    font-family: 10px;
    font-weight: 900px;
}
.foot{
    max-width:1360px;
    height: 384px;
    background-color: white;
    margin-bottom: 120px;
}
.more{
    text-align: center;
    max-width: 1600px;
    background-color: #F7F6F2;
}
.more h2{
    padding-top: 80px;
    font-size: 40px;
    font-weight:bold;
}
.more p{
    padding-top:16px ;
    font-size:16px ;
    color:#627382 ;
}
.more button{
    background-color: #469165;
    padding-top: 30px;
    width: 200px;
    padding: 18px;
    color:#FFFFFF ;
}
.more button:hover{
    background-color: antiquewhite;
}

.png-logo{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 120px;
    margin:0 120px;
}
.text-m{
    text-align: center;
    padding-top:110px;
    color: white;
}
.black{
    background-color:#001931;
    max-width: 1600px;
    height: 364px;
     
}








.food{
    text-align: center;
    padding-top: 80px;
}
.food h2{
    font-size: 20px;
    font-weight: bold;
}
.food p{
    padding-top: 16px;
    font-size: 16px;
    color: #627382;

}

.foods{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-top: 30px;
}
.idea{
    width: 322px;
    height: 250px;
    border: 2px solid black;
    padding-top: 70px;
    box-shadow: 10px 10px 10px rgb(99, 98, 98);
}
.idea img {
    border: 1px solid red;
    border-radius: 100%;
    background-color: red;
}
