*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.open-sence{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;

}
header{
    width: 71%;
    max-width:1600px;
    margin: 0px auto;
}
.logo{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    margin: 0px 120px;
    align-items: center;

}
.img{
    font-size: 20px;

}
.text{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.btn{
    border: none;
    background-color: green;
    padding: 12px 16px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;

}
.image{
    background-image: url(./assets/hero-bg.png);
    width: 71%;
    max-width:1600px;
    height: 500px;
}
.cantant{
    padding-top:100px;
    margin:0 180px;
    text-align: center;
    font-size: 15px;

}
.cantant button{
    font-size: 20px;
    background-color: rgb(255, 244, 244);
    color: rgb(108, 189, 108);
    border-radius: px;
}
.cantant h1{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-bottom:10px;
    padding-top: 10px;

}
.cantant .rimon{
    color: green;


}
.cantant p{
    padding:5px;
    color: beige;

}
.cantant .icon {
    font-size:30px;
    display: flex;
    justify-content: space-around;
    padding: 12px 16px;
    padding-bottom:100px;

}
.icon .btn-one{
    background-color:green;
    color: white;
}
.icon.btn-two{
    border: 1px solid black;
}





